extends layout
block content
  link(rel='stylesheet', type='text/css', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", media='all')
  .container
  .row(style='display: inline-block; border: solid 1px #808080; padding: 15px')
    .col-md-6
      img.full-width-image(alt='Thumbnail [100%x225]', style='height: 300px; width: 100%; display: block;', src=book.picture, data-holder-rendered='true')
      br
      .row
        .col-md-3.col-sm-3.col-xs-6
          img.img-fluid(alt=book.title, src=book.picture)
        .col-md-3.col-sm-3.col-xs-6
          img.img-fluid(alt=book.title, src=book.picture)
        .col-md-3.col-sm-3.col-xs-6
          img.img-fluid(alt=book.title, src=book.picture)
        .col-md-3.col-sm-3.col-xs-6
          img.img-fluid(alt=book.title, src=book.picture)
    .col-md-6
      h2 #{book.title}
      h3
      p #[strong Author:] #{book.author.name}
      p
        #rating1
        |                 (10 reviews)
      br
      p.text
        p #[strong Summary:] #{book.summary}
      p.text-justify
        #{book.summary}
      br
      h4.text-xs-right
        | Current price: 
        span(style='color: #197BB5; font-size: 35px;') $ #{book.price}
      p.text-xs-right
        p #[strong ISBN:] #{book.isbn}
      br
      h4
        p #[strong Genre:] 
          each val in book.genre
            a(href=val.url) #{val.name}
      br
      button.btn.btn-primary(type='button')
        i.fa.fa-shopping-cart
        |  Add To Card

  
  